

@media only screen and (max-width: 1730px) {
    .main-info-user-tab .main-info-user-tab-second {
        width: 55%;
    }
}

@media only screen and (max-width: 1610px) {
    .main-info-user-tab .main-info-user-tab-second {
        width: 60%;
    }
}

@media only screen and (max-width: 1510px) {
    .main-info-user-tab .main-info-user-tab-second {
        width: 65%;
    }
}

@media only screen and (max-width: 1410px) {
    .main-info-user-tab .main-info-user-tab-second {
        width: 70%;
    }
}

@media only screen and (max-width: 1335px) {
    .main-info-user-tab .main-info-user-tab-second {
        width: 75%;
    }
}
@media only screen and (max-width: 1270px) {
    .main-info-user-tab .main-info-user-tab-second {
        width: 80%;
    }
}

@media only screen and (max-width: 1240px) {
    .nav-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }
}

@media only screen and (max-width: 1000px) {
    .candidate-info .main-info {
        display: block;
    }

    .candidate-info .main-info .main-info-vacancies-list, .candidate-info .main-info .main-info-comments-list {
        max-height: 60vh;
    }

    .main-info .main-info-left {
        border-right: 0px;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--blocks-border-color);
    }

    .main-info-user-tab .main-info-user-tab-second {
        width: 50%;
    }
}

@media only screen and (max-width: 790px) {
    .tabs .tabs-block {
        display: none;
    }

    .tabs .tab-menu {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .main-info-user-tab .main-info-user-tab-second {
        width: 55%;
    }
}

@media only screen and (max-width: 540px) {
    .main-info-user-tab .main-info-user-tab-second {
        width: 60%;
    }
}

@media only screen and (max-width: 540px) {
    .main-info-user-tab .main-info-user-tab-second {
        width: 65%;
    }
}

@media only screen and (max-width: 520px) {
    .header .header-nav .header-nav-info, .header .back-but {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .main-info-user-tab .main-info-user-tab-second {
        width: auto;
    }

    body .nav-sidebar {
        width: 100%;
    }
}

@media only screen and (max-width: 380px) {
    div .main-info-user-tab-second .phone-number-telegram-but {
        display: none;
    }
    div .main-info-user-tab-second .phone-number-whatsapp-but {
        display: none;
    }
    div .main-info-user-tab-second .phone-number-search-text {
        display: none;
    }
}

